/Extras java (Switch)/nbproject/private/
/Extras java (Switch)/build/
/ExtrasJavaCondicionales/nbproject/private/
/ExtrasJavaCondicionales/build/
/Guia-estructurasControl/nbproject/private/
/Guia-estructurasControl/build/
/GuiaEstructurasControl1/nbproject/private/
/GuiaEstructurasControl1/build/
/GuiaEstructurasControl2/nbproject/private/
/GuiaEstructurasControl2/build/
/GuiaEstructurasControl3/nbproject/private/
/GuiaEstructurasControl3/build/
/GuiaEstructurasControl4/nbproject/private/
/EjerciciosJava1/nbproject/private/
/EjerciciosJava1/build/
/EjerciciosJava2/nbproject/private/
/EjerciciosJava3/nbproject/private/
/EjerciciosJava4/nbproject/private/